*
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.passion
{
    font-family: 'Passions Conflict', cursive;
    font-size: 40px;
}

.amatic{
    font-family: 'Amatic SC', cursive;
}

.img-flaticon{
    width: 40px;
}


.caroussel-image{
    width: 100%;
}

.image4{
    width: 210px;
    height: 250px;
    margin-bottom: 20px;
}

.subtitle{
    font-size: 30px;
}

.userName{
    color:darksalmon
}

.article_home{
    background-color: rgb(179, 173, 173, 0.07);
}

/* HOVER IMAGE HOMEPAGE */
.image_container {
    position: relative;
    width: 100%;
  }
  
.image {
    opacity: 1;
    display:inline;
    width:170px;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 10px;
 }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 130px;
    left: 140px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} 

.image_container:hover .image {
    opacity: 0.3;
}
  
.image_container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #60707f;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} 


 /* Responsive for device more than 343px */
@media screen and (min-width: 331px){
    .image {
    width: 200px;
    height: 180px;
    }    
    .middle {
        top: 100px;
        left: 110px;
    } 
}
 /* Responsive for device more than 573px */
@media screen and (min-width: 573px){
    /* .image {
    width: 200px;
    height: 180px;
    }    
    .middle {
        top: 100px;
        left: 110px;
    }  */
}

/* Responsive for device more than 769px */
@media screen and (min-width: 769px){
    .image {
        width: 260px;
        height: 240px;
    }   
    .middle {
        top: 130px;
        left: 140px;
    } 
    .image4{
        width: 80%;
        height: auto;
    }
}  