* {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.passion {
    font-family: 'Passions Conflict', cursive;
    font-size: 40px;
}

.amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.amatic.title {
    font-size: 80px;
}

header .navbar{
    background-color: rgb(154, 173, 183, 0.03);
}

.img-flaticon {

    width: 40px;
}

.logo-menu {
    width: 30px;
    height: 30px;
}


.caroussel-image {
    width: 100%;
}

.image4 {
    width: 260px;
    height: 350px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 30px;
}

.userName {
    color: darksalmon
}

.article_home {
    background-color: rgb(179, 173, 173, 0.07);
    padding: 20px;
}

/* HOVER IMAGE HOMEPAGE */
.image_container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: inline;
    width: 185px;
    height: 165px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 10px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90px;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image_container:hover .image {
    opacity: 0.3;
}

.image_container:hover .middle {
    opacity: 1;
}

.text {
    color: #5f6983;
    font-size: 16px;
    padding: 16px 32px;
}

img.image-carte {
    width: 180px;
    height: 160px
}

img.detail-img {
    width: 90%;
}

span.dishcat {
    text-decoration: none;
    color: #407d9e;
    font-size: 35px;
}

.plat-logo {
    font-size: 60px;
    font-family: 'Unica One', cursive;
    margin-top: 20px;
}


.align-right {
    text-align: end;
}

.menu-img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.fleche {
    width: 20px;
}

div .bg-formula {
    padding: 15px;
    background-color: rgba(64, 125, 158, 0.04);
}

div .bg-plat {
    padding: 15px;
    background-color: rgba(64, 125, 158, 0.04);
}

footer .footer {
    font-size: 50px;
}


/* --------- REPONSIVE ------------

 /* Responsive for Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    * {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
    }
    .middle {
        top: 100px;
        left: 110px;
    }

    .caroussel-image {
        width: 100%;
        height: auto;
    }

}

/* Responsive for Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .image {
        width: 220px;
        height: 200px;
    }

    .middle {
        top: 110px;
        left: 120px;
    }

    img.image-carte {
        display: inline;
        width: 250px;
        height: 220px
    }
    * {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }

}


/* Responsive for Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .image4 {
        width: 280px;
        height: 480px;
    }

    * {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }

}

/* Responsive for Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}