{% extends 'base.html.twig' %}

{% block title %}
	Liste des reservations d'un utilisateur
{% endblock %}

{% block body %}
	<div class="container my-5">

		<h1 class="text-center amatic">Liste des RESERVATIONS </h1>
		<br><br>


		<section>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date de reservation</th>
							<th scope="col">Créneaux</th>
							<th scope="col">Nombre de personne(s)</th>
						</tr>
					</thead>
					<tbody>
						{% for reservation in reservations %}
						<tr>
							<td>{{reservation.reservationDate| date('d/m/Y')}}</td>
							<td>{{reservation.slot}}</td>
							<td>{{reservation.nbPerson}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				

		</section>
		<br><br>
	</div>
{% endblock %}



    