<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="L'objectif de ce projet consiste a concevoir une application web vitrine pour la gestion du restaurant Quai Antique à Chambery qui sera inauguré par le chef Arnaud Michant. L'application répondra à toutes les fonctionnalités demandées par le chef et sera mise place avec toutes les sécurités nécessaires">
		<title>
			{% block title %}My Resto - QUAI ANTIQUE
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat&family=Passions+Conflict&family=Raleway&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat&family=Passions+Conflict&family=Rock+Salt&family=Unica+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">

		{% block stylesheets %}
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
		{% endblock %}

	</head>
	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}
		
		<script src="{{ asset('assets/js/scripts.js')}}"></script>
		<script src="{{ asset('assets/js/scripts-jquery.js')}}"></script>
		
	</body>
</html>
